@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --transition-time: none;

  /* COLORS */

  --clr-primary-500: hsl(98 79% 55%);
  --clr-primary-600: hsl(98 74% 47%);
  --clr-primary-700: hsl(98 83% 39%);
  --clr-primary-800: hsl(98 96% 31%);
  --clr-primary-900: hsl(98 97% 17%);
  --dark-clr-primary: hsl(96 16% 13%);

  --gray-00: hsl(0 0% 8%);
  --gray-01: hsl(0 0% 81%);
  --gray-02: hsl(0 0% 96%);

  /* SPACE SIZES */

  --size-00: 0.25rem;
  --size-01: 0.5rem;
  --size-02: 1rem;
  --size-03: 1.5rem;
  --size-04: 2rem;
  --size-05: 2.5rem;
  --size-06: 3rem;
  --size-07: 3.5rem;
  --size-08: 4rem;

  /* FONT SIZES */
  --fs-00: 1rem;
  --fs-01: 1.2rem;
  --fs-02: 1.5rem;
  --fs-03: 2rem;
  --fs-04: 2.5rem;
  --fs-05: 4rem;

  /* WIDTHS */
  --max-width: min(1440px, 100% - 2rem);
  --para-max-width: min(75ch, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body:hover {
  --transition-time: ease;
}

h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--gray-00);
}

.header {
  width: 100%;
  margin: auto;
  background-color: var(--gray-01);
  position: fixed;
  z-index: 1;
}

.nav {
  width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--size-02);
  margin-inline: auto;
  .logo-wrapper {
    > .desktop-logo {
      font-size: clamp(var(--fs-00), 4vw, var(--fs-03));
    }
    > .mobile-logo > img {
      width: 32px;
      margin: 0;
      display: none;
      scale: 1.2;
    }
  }
  position: relative;
}

.nav .menu {
  display: flex;
  gap: var(--size-02);
  .menu-item {
    font-size: var(--fs-01);
    font-weight: 500;
    a {
      display: block;
      padding: var(--size-01);
    }
  }
  @media (max-width: 860px) {
    opacity: 0;
    visibility: hidden;
    width: min(300px, 100%);
    flex-direction: column;
    background-color: var(--gray-02);
    border-radius: var(--size-00);
    gap: 0;
    position: absolute;
    padding: var(--size-02);
    top: 0;
    right: 0;
    transition: var(--transition-time) 200ms;
    .menu-item {
      a {
        display: block;
        padding: var(--size-01);
        box-shadow: 0 2px 0 var(--gray-01);
      }
      a[href="#vicoso"] {
        box-shadow: none;
      }
    }
  }
}

.nav > .menu.active {
  opacity: 1;
  visibility: visible;
  top: 90px;
  transform: translateY(0);
  box-shadow: 0 var(--size-00) var(--size-02) hsl(0 0% 100% / 15%);
}

.nav > .menu-button {
  display: none;
  gap: var(--size-00);
  align-items: center;
  padding: var(--size-01) var(--size-02);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: var(--size-00);
  letter-spacing: 0.05rem;
  position: relative;
  cursor: pointer;
  background-color: var(--gray-02);
  box-shadow: 0 var(--size-00) var(--gray-00) var(--size-00);
  @media (max-width: 860px) {
    display: flex;
  }
}

.nav > .menu-button::after {
  content: "";
  display: inline-block;
  /* translate: 0 -5px; */
  width: var(--size-02);
  height: 2px;
  background-color: var(--gray-00);
  /* position: absolute; */
  box-shadow: 0 -6px var(--gray-00), 0 6px var(--gray-00);
  transition: 200ms;
}

.nav > .menu-button.button-active::after {
  transform: rotate(180deg);
  box-shadow: 0 0 var(--gray-00), 0 0 var(--gray-00);
}

/* MAIN CONTENT */

.main-content {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 100vh;
  padding-top: 81px;
  scroll-padding-top: 81px;
}

.banner-section {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.banner-container {
  width: var(--max-width);
  margin-inline: auto;
  padding-block: var(--size-08);
}

.banner-section-title-container {
  .banner-title {
    font-size: clamp(var(--fs-04), 7vw, var(--fs-05));
    color: var(--clr-primary-500);
    margin-bottom: var(--size-03);
    transform: translateY(200px);
    visibility: hidden;
    transition: transform 1s ease;
  }
  .banner-title[data-title]:after {
    content: "";
    display: inline-block;
    width: var(--size-01);
    height: clamp(var(--fs-04), 7vw, var(--fs-05));
    margin-left: var(--size-01);
    background-color: var(--clr-primary-500);
    transform: translateY(var(--size-01));
    animation: blink 700ms ease infinite;
  }
  .banner-para {
    width: var(--para-max-width);
    font-size: var(--fs-01);
    color: var(--gray-01);
  }
}

.img-container {
  display: block;
  /* width: 100%; */
  height: 300px;
  margin-top: var(--size-04);
  > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
  }
}

/* Imagens de fundo das sections */

.intro-section {
  background-image: url("/static/img/img-02.webp");
}

.bella-section {
  background-color: var(--dark-clr-primary);
}

.vicosa-section {
  background-color: var(--clr-primary-900);
}

.vicoso-section {
  background-color: var(--dark-clr-primary);
}

/* Cards com atributos dos jabotinhas */

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: var(--size-02);
  margin-top: var(--size-04);
  .card {
    background-color: hsl(0 0% 0% / 30%);
    padding: var(--size-03);
    border-radius: var(--size-00);
    backdrop-filter: blur(var(--size-00));
    box-shadow: 0 8px 8px -8px hsl(0 0% 0% / 20%);
    position: relative;
    .card-title {
      font-size: clamp(var(--fs-02), 4vw, var(--fs-03));
      color: var(--gray-02);
      margin-bottom: var(--size-02);
    }
    .card-para {
      font-size: var(--fs-00);
      color: var(--gray-01);
    }
  }
  .card::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1.5rem;
    height: 1rem;
    transform: translate(-2rem, 0);
    background-color: var(--clr-primary-500);
    border-radius: 2px;
  }
}

/* FOOTER -- Not semantic */

.footer {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background-color: var(--gray-01);
  > .footer-content-container {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-block: var(--size-08);
    display: flex;
    gap: var(--size-01);
    justify-content: space-between;
    align-items: center;
    > h2 {
      font-size: var(--fs-02);
      color: var(--gray-00);
    }
    > .footer-content > p {
      font-size: var(--fs-00);
    }
  }
}

/* Animações */

@keyframes blink {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.banner-title.active {
  transform: translateY(0px);
  visibility: visible;
}

.card.attrs-active {
  transform: translateY(0);
}

/* ===> MEDIAS - Responsividade */

@media (max-width: 860px) {
  .main-content {
    padding-top: 85px;
    scroll-padding-top: 85px;
  }

  .nav {
    padding-block: var(--size-03);
    gap: var(--size-03);
    .logo-wrapper {
      > .desktop-logo {
        display: none;
      }
      > .mobile-logo > img {
        display: block;
      }
    }
  }

  .banner-section {
    background-position: center;
  }

  .banner-section-title-container {
    .banner-para {
      font-size: var(--fs-00);
    }
  }

  .banner-container {
    padding-block: var(--size-02);
  }

  .cards-wrapper {
    grid-template-columns: 1fr;
  }

  .footer .footer-content-container {
    padding-block: var(--size-02);
    flex-direction: column;
    text-align: center;
  }
}
